<!DOCTYPE html>
<html>

<head>
  <title>Your 7 Day Overview</title>
  <link rel="stylesheet" href="./css/style.css">
  <style media="screen">

    #first-name, #last-name, #weight, #hours-of-exercise, #hydration, #steps, #primary-paragraph {
          border: 5px solid #ccc;
          padding: 10px;
          margin-bottom: 10px;

        }
        .content{
          top:0%;
          overflow: scroll;
          height:100%
        }
        .col1{
          display: grid;
           grid-template-columns: auto;
           justify-content: center;
        }

      </style>


</head>

<body id="particles-js">
  <canvas id="canvas"></canvas>
  <script src="./js/particles.js"></script>
  <script src="./js/particles-js.js"></script>
  </section>
  <section class ="content">
      <div id="primary-paragraph">
        <h2 class="primary-paragraph" >Check out your stats</h2>
      <p>Below is an overview of your statistcs for the past 7 days. Keep checking back each day to see your progress.</p>
      </div>
      <p>
        <!-- line Break -->
        <!-- Horizontal Line/Rule -->
        <hr>
      </p>
        <section class="stats-section">
          <ul> MOST RECENT STATS </ul>
            <li id="hydrationStat"> Hydration = <%=hydration%></li>
            <li id="weightStat"> Weight = <%=weight%></li>
            <li id="caloriesStat"> Calories = <%=calories%></li>
            <li id="stepsStat"> Steps = <%=steps%></li>
        </section>
      <section class="addStats-section">
        <h1> ADD STATS </h1>
        <p> Fill in every field below then hit submit to update your stats! </p>
      <form class="statForm"action="/addStats" method="POST">
          <div id="addHydration" ><br>
            <label for="hydration">Hydration in Litres(L)</label><br>
            <input type="number" name="hydration" placeholder="e.g 2 (Litres)" required>
          </div>
          <div id="addweight" ><br>
            <label for="weight">Weight in Kilograms(KG)</label><br>
            <input type="number" name="weight" placeholder="e.g 70 (Kg)" required>
          </div>
          <div id="addCalories" ><br>
            <label for="calories consumed">Total Calories Consumed Today (Cal)</label><br>
            <input type="number" name="calories" placeholder="e.g 3000 (Cal)" required>
          </div>
          <div id="addSteps" ><br>
            <label for="steps">Steps taken Today (Steps)</label><br>
            <input type="number" name="steps" placeholder="e.g 100000 (steps)" required>
          </div>
          <button type="submit">Add Stats</button>
          <button type="reset">Reset</button>
          <button type="LastWeek">Last Week</button>
          <button type="NextWeek">Next Week</button>
        </form>
        <div id="MinHydration">
          Minimal hydration:
        </div>
        <button onclick="CalHydration()">Calculate hydration</button>
      </section>

        <script src="./js/charts.js"></script>
        <div id="HydrationLevel" style="height: 370px; width: 90%;"></div>
        <div id="Weight" style="height: 370px; width: 90%;"></div>
        <div id="calories" style="height: 370px; width: 90%;"></div>
        <div id="stepsCount" style="height: 370px; width: 90%;"></div>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>


        <div id="footer">
          <form action="/logout" method="POST">
            <input type="submit" name="logout" value="Logout" />
          </form>
        </div>
    </section>
</body>
</html>
