<!DOCTYPE html>
<html>

<head>
  <title>Statistics Page</title>
  <link rel="stylesheet" href="./css/style.css">
  <style media="screen">

    #first-name, #last-name, #weight, #hours-of-exercise, #hydration, #steps, #primary-paragraph {
          border: 5px solid #ccc;
          padding: 10px;
          margin-bottom: 10px;

        }
        .content{
          top:0%;
          overflow: scroll;
          height:100%
        }
        .col1{
          display: grid;
           grid-template-columns: auto;
           justify-content: center;
        }

      </style>


</head>

<body id="particles-js">
  <canvas id="canvas"></canvas>
  <script src="./js/particles.js"></script>
  <script src="./js/particles-js.js"></script>
  </section>

  <section class ="content">
    <div id="primary-paragraph">
      <h2 class="primary-paragraph" >Check out your stats</h2>
    <p>Below is an overview of your statistcs. Keep checking back to see where
    you are at.</p>
    </div>

    <!-- Headings -->


    <!-- Paragraphs -->

    <p>
      <!-- line Break -->
      <!-- Horizontal Line/Rule -->
      <hr>
    </p>
      <section class="stats">
        <%= stats %>
      </section>
    <form action="/addStats" method="POST">
        <div id="weight" ><br>
          <label for="weight">Weight in pounds(LB)</label><br>
          <input type="weight" name="weight" value="200LB">
        </div>
        <div id="addCalories" ><br>
          <label for="calories consumed">Total amount of calories consumed today</label><br>
          <input type="calories consumed" name="calories consumed" value="3000">
        </div>
        <div id="addSteps" ><br>
          <label for="steps">Steps taken today</label><br>
          <input type="steps" name="steps" value="77,777 steps">
        </div>
        <button type="reset">Reset</button>
      </form>

      <script src="./js/charts.js"></script>
      <div id="HydrationLevel" style="height: 370px; width: 90%;"></div>
      <div id="Weight" style="height: 370px; width: 90%;"></div>
      <div id="calories" style="height: 370px; width: 90%;"></div>
      <div id="stepsCount" style="height: 370px; width: 90%;"></div>
      <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>


      <div id="footer">
        <p>GPL &copy; 2019</p>
      </div>
  </section>

</body>

</html>
